.experience {
  padding-top: 10vw;
  z-index: 10;
  position: relative;
       font-family: var(--font-inter);
  &__container{
padding-left: 6vw;
    padding-right: 6vw;

    display: flex
;
    flex-direction: column;
    justify-content: center;
    &--title{
          display: flex
;
    margin-bottom: 30px;
      & > h1{
            display: block;
        font-size: 3.3vw;
    unicode-bidi: isolate;
      }
    }
    &--line{
          flex: 1 1;
    display: flex
;
    justify-content: center;
    align-items: center;
      & > span{
            height: 2px;
        color: #4cafef;
   background: #4cafef;
    width: 90%;
      }
    }
    &__project{
      position: relative;
      z-index: 1;
      width: 50%;
        & > span{

      }
      & > p{
        font-size: 1.3vw;
        color: #FFFFFF;
        margin-bottom: 1vw;
      }
      & > h1{
        font-size: 2.6vw;
        color: #00adb5;
           margin-bottom: 2vw;

      }
&--stack{
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  & > span{
      font-size: 0.7vw;
    }
  & > button{
        width: 10vw;
    height: 3vw;
    margin-top: 2vw;
            border: 0.1vw solid #a2fcfc;
    background: transparent;
    color: #a2fcfc;
    cursor: pointer;
  }
}
&--description{
  font-weight: 200;

  font-size: 1.4vw;
  border-radius: 0.208vw;
  padding: 1.302vw;
  box-shadow: 0 10px 30px -15px var(--themeColor2);
  background-color: #393e46;
  color: #FFFFFF;
}
    }
  &__preview{

      & > img{
             width: 47vw;
      height: 30vw;
             margin-left: -4vw;
      }
    }
    &__info{
      display: flex;
      position: relative;

    }
  }





  &__container2{
padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 10vw;
    display: flex
;
    flex-direction: column;
    justify-content: center;
    &--title{
          display: flex
;
    margin-bottom: 30px;
      & > h1{
            display: block;
        font-size: 3.3vw;
    unicode-bidi: isolate;
      }
    }
    &--line{
          flex: 1 1;
    display: flex
;
    justify-content: center;
    align-items: center;
      & > span{
        font-size: 1vw;
            height: 2px;
        color: #4cafef;
   background: #4cafef;
    width: 90%;
      }
    }
    &__project{
          text-align: right;
      position: relative;
      z-index: 1;
      width: 50%;
        & > span{

      }
      & > p{
        font-size: 1.3vw;
        color: #FFFFFF;
        margin-bottom: 1vw;
      }
      & > h1{
        font-size: 2.6vw;
        color: #00adb5;
           margin-bottom: 2vw;

      }
&--stack{
  margin-top: 2vw;
  display: flex;
  align-items: flex-end;
   & > span{
      font-size: 0.7vw;
    }
  flex-direction: column;
  & > button{
    width: 10vw;
    height: 3vw;
    margin-top: 2vw;
            border: 0.1vw solid #a2fcfc;
    background: transparent;
    color: #a2fcfc;
    cursor: pointer;

  }
}
&--description{
  font-weight: 200;
text-align: left;
  font-size: 1.4vw;
  border-radius: 0.208vw;
  padding: 1.302vw;
  box-shadow: 0 10px 30px -15px var(--themeColor2);
  background-color: #393e46;
  color: #FFFFFF;
}
    }
  &__preview{

      & > img{
             width: 47vw;
      height: 30vw;
             margin-right: -4vw;
      }
    }
    &__info{
      display: flex;
      position: relative;

    }
  }
}