.experience {
  display: flex;
  flex-direction: column;

  width: 100%;
  border-top: #a2fcfc 0.15vw solid;
  color: #a2fcfc;
  text-transform: uppercase;
  font-family: var(--font-inter);
  font-weight: 700;
  background-image: url("../../public/img/bg-desktop.webp");
  background-size: cover;
  background-position: center;
  overflow: hidden;
    padding: 4.8vw 0 0vw;
  z-index: 6;

  @media (min-width: 1000px) {
      align-items: flex-start;
    padding: 0vw 1.5vw 0vw 1.5vw;
  }
  &__items{
    align-items: center;
      display: flex;
      flex-direction: column;

       @media (min-width: 1000px) {
           align-items: center;
               flex-direction: row;
       }
      &--item {
width: 100%;
        padding-top: 5vw;
            border-bottom: #a2fcfc 0.02vw solid;
    align-items: center;

    flex: 1 1 0;
  padding-left: 0vw;
        padding-right: 0vw;
       @media (min-width: 1000px) {
           padding-left: 2.2vw;
        padding-right: 1vw;
         border-bottom: unset;
            border-right: #a2fcfc 0.02vw solid;
       }
    & > h1 {
      font-size: 6.3vw;
      letter-spacing: -0.1vw;
      margin-bottom: 0vw;
      padding-left: 4.4vw;
         @media (min-width: 1000px) {
            padding-left: 0vw;
               margin-bottom: 1vw;
             font-size: 1.8vw;
         }
    }
         &:last-child {
    border-right: none;
  }

  }

  &--description {

   text-align-last: left;
   max-width: 100%;
   line-height: 1.6;
    font-size: 2.4vw;
     padding-left: 5vw;
        @media (min-width: 1000px) {
              padding-left: 0;
              font-size: 0.8vw;
             max-width: 40vw;
        }
& > h1{
    font-size: 3.1vw;
  padding-bottom: 4vw;
       @media (min-width: 1000px) {
           padding-bottom: 0vw;
             font-size: 0.8vw;
       }
}
& > h2{
  font-size: 3vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  @media (min-width: 1000px) {
      font-size: 1vw;
  }
}
 & > span{

 font-size: 1.5vw;
     @media (min-width: 1000px) {
        font-size: 1vw;
     }
 }


     & > p {


 & > span{

   & > b{
        color: #00ff14;
   }
 }
    }

    & > ul {
      margin: 0;


  list-style-type: disc;
  list-style-position: outside;

      & > li {
 text-align: left;
        margin-bottom: 0.6vw;


      }
    }
  }
  }
&__wrapper {
    position: relative;
    width: 100%;
   height: 30vw;
    overflow: hidden;
   @media (min-width: 1000px) {
      height: 10vw;
   }

    &--bubble {
      position: absolute;
      bottom: -2vw;
      background: transparent;
      border: #a2fcfc 0.1vw solid;
      width: 3.1vw;
      height: 3.1vw;
      border-radius: 50%;
      opacity: 0;
      animation: riseMob 5s linear infinite;
  @media (min-width: 1000px) {
         width: 1.1vw;
      height: 1.1vw;
    animation: rise 5s linear infinite;
  }
      // случайные позиции и задержки
      &:nth-child(1) {
        left: 10%;
        animation-delay: 0s;
      }
      &:nth-child(2) {
        left: 20%;
        animation-delay: 2s;
      }
      &:nth-child(3) {
        left: 35%;
        animation-delay: 4s;
      }
      &:nth-child(4) {
        left: 50%;
        animation-delay: 1s;
      }
      &:nth-child(5) {
        left: 65%;
        animation-delay: 3s;
      }
      &:nth-child(6) {
        left: 75%;
        animation-delay: 5s;
      }
      &:nth-child(7) {
        left: 85%;
        animation-delay: 6s;
      }
      &:nth-child(8) {
        left: 92%;
        animation-delay: 7s;
      }
    }
  }

&__btn{
  margin-top: 10vw;
  margin-left: 5vw;
  cursor: pointer;
  font-family: var(--font-inter);

 display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 8vw;

  font-weight: 500;
  font-size: 3.3vw;
  text-transform: uppercase;
  color: #a2fcfc;
  border: 0.1vw solid #a2fcfc;
  background-color: transparent;
  transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
   @media (min-width: 1000px) {
       margin-top: 2vw;
     height: 3vw;
       font-size: 1.3vw;
     margin-left: 2vw;
   }
  &:hover {
   background-color:  #a2fcfc;
   color: #000000;
}

}

}
@keyframes rise {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(-10vw) scale(2);

    opacity: 0;
  }
}
@keyframes riseMob {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(-20vw) scale(2);

    opacity: 0;
  }
}