.footer {
  padding: 2vw 8vw; // py-8 px-6
       border-top:0.1vw solid #a2fcfc;

  &__container {
    max-width: 64rem; // max-w-4xl
    margin: 0 auto;
    text-align: center;

    &--text {
      color: var(--muted-foreground);
      font-size: 0.875rem; // примерно text-sm
    }
  }
}
